

    
.logo{
    background-color: #4aaaa5;
    color: white;
    padding-top:16px;
    padding-bottom: 16px;
    text-align:center;
    
}
.navRow{
    border-bottom: 4px solid  #cccccc;
    
    
}
.navSection{
    padding-top:16px;
    padding-bottom: 16px;
     
}

a{
    color: #777777;
    text-decoration: none;
    word-spacing: 9px;

}
a:hover{
    color: #4aaaa5;
    text-decoration: none;
}

.pageTitle{
    padding: 15px 0 15px 10px;
    color: #4aaaa5;
}

.mainSection{ 
    padding: 15px 0 15px 5px;
    text-align: justify;
}
p{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
    color: #777777;
    line-height: 30px; 
    font-size: 16px;

}
/* footer  
-------------------------------------------------- */

  .stickyFooter{
      padding-top: 20px;
      background-color: #666666;
      text-align: center;
      color: white;
      border-top: 4px solid #4aaaa5;
  }


/*- specific to contact page ---------------------------------------------------------------*/

.formSection{
    padding-left: 210px;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}

.buttonSection{
    margin-left: 200px;
    
}

/*- specific to portfolio page  ---------------------------------------------------------------*/

.folioRow{
    width: 55%;
}

.folioCol{
    padding-bottom: 50px;

}

.imgPortf{
  width: 155px;
  height: 155px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/*---specific to Media Query-------------------------------------------------------------------*/
 
/*// Small devices (landscape phones, 576px and up)*/
 
@media (min-width: 576px) {
    .navRow{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        
    }
    
    .nav-link{
       padding-right: 35px;
    }
    .pageTitle{
        padding-left: 70px;
    }

    .imgSection{
        padding-left: 70px;
        padding-bottom: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        margin: auto;

    }

    .mainSection{
        padding-bottom: 30px;
    }

    .stickyFooter{
        font-size: 13px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  

  .logo{
      max-width: fit-content;
      flex:auto;
      margin-left: 0px;
    }
  
  
  .navSection{
    max-width: fit-content;
    flex:auto;
    margin-left:160px ;
   }

   .pageTitle{
    margin: 0;
    padding: 15px 0 15px 0;

    }
   .imgSection{
    margin: 0px;
    padding: 0;
   }
 
   
   .para{
    margin: 0 20px 0 20px;
    flex: 0 0 68%;
    max-width: 70%;
   }

   img{
    margin: 10px 20px 0 20px;

   }

 
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    .navRow{
        padding-left: 170px;
        padding-right: 200px;
       
    }

    .navSection{
        margin-left:480px;
    }
    
    .pageTitle{
        padding-left: 170px;
    }

    .mainSection{
        padding-left: 170px;
        padding-right: 170px;

    }
}

