

    
.logo{
    background-color: #4aaaa5;
    color: white;
    padding-top:16px;
    padding-bottom: 16px;
    text-align:center;
}
.navRow{
    border-bottom: 4px solid  #cccccc;
    
}
.navSection{
    
    padding-top:16px;
    padding-bottom: 16px;
}
.navLink{
    color: #777777;
    text-decoration: none;
    word-spacing: 9px;
}

navLink:hover{
    color: #4aaaa5;
}

.pageTitle{
    padding: 15px 0 15px 10px;
    color: #4aaaa5;
}

.mainSection{
    padding: 15px 0 15px 5px;
    text-align: justify;
}
p{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
    color: #777777;
    line-height: 30px; 
    font-size: 16px;

}
/* footer  
-------------------------------------------------- */

  .stickyFooter{
      padding-top: 20px;
      background-color: #666666;
      text-align: center;
      color: white;
      border-top: 4px solid #4aaaa5;
  }


/*- specific to contact page ---------------------------------------------------------------*/

.formSection{
    padding-left: 210px;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}

.buttonSection{
    margin-left: 200px;
    
}

/*- specific to portfolio page  ---------------------------------------------------------------*/


.folioRow{
    width: 55%;
    
}

.folioCol{
    padding-bottom: 5px;

}

.imgPortf{
  width: 155px;
  height: 155px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/*---specific to Media Query-------------------------------------------------------------------*/


@media only screen and (min-width: 980px) {
    .navRow{
        padding-left: 170px;
        padding-right: 200px;
       
    }
    .pageTitle{
        padding-left: 170px;
    }

    .mainSection{
        padding-left: 170px;
        padding-right: 170px;

    }

}


@media only screen and (min-width: 768px) {
    .navRow{
        padding-left: 0;
        padding-right: 0x;
       
    }
    .pageTitle{
        padding-left: 0px;
    }

    .mainSection{
        padding-left: 0x;
        padding-right: 0px;

    }

}



@media only screen and (max-width: 640px) {
    .navRow{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        
    }
    .nav-link{
       padding-right: 35px;
    }
    .pageTitle{
        padding-left: 70px;
    }

    .imgSection{
        padding-left: 70px;
        padding-bottom: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        margin: auto;

    }

    .mainSection{
        padding-bottom: 30px;
    }

    .stickyFooter{
        font-size: 13px;
    }
    
}